.sysaction {
  display: inline-grid;
}

.sysaction a {
  color: #FFFFFF;
}

.sysaction span {
  padding: 25px 25px;
  display: inline-block;
  border: solid gray;
}

.sysaction span:hover {
  background: #323232;
}

.installaction {
  display: inline-grid;
}

.installaction a {
  color: #FFFFFF;
}

.installaction span {
  padding: 5px 5px;
  display: inline-block;
  border: solid gray;
}

.installaction span:hover {
  background: #323232;
}
